<DModal
  @closeModal={{@closeModal}}
  @title={{theme-i18n "discourse_upload_consent.modal.title"}}
  class="upload-consent"
>
  <:body>
    <div class="details">
      {{#if this.showError}}
        <div class="alert alert-error">
          {{d-icon "triangle-exclamation"}}
          {{theme-i18n "discourse_upload_consent.modal.disagree_error"}}
        </div>
      {{/if}}

      <div class="content consent-content">
        <CookText
          @rawText={{theme-i18n "discourse_upload_consent.modal.body"}}
        />
      </div>
    </div>
  </:body>

  <:footer>
    <DButton
      class="btn-primary pull-right"
      @action={{this.save}}
      @translatedLabel={{theme-i18n "discourse_upload_consent.modal.save"}}
    />

    <DButton
      class="cancel"
      @action={{this.cancel}}
      @translatedLabel={{theme-i18n "discourse_upload_consent.modal.cancel"}}
    />
  </:footer>
</DModal>